.subcontainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 1rem;
}

.heading {
	color: white;
	font-weight: 600;
	font-size: 24px;
}

.subcontainer p {
	color: white;
}
