.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    color: white;
    background-color: #003049;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10%; */
    
}
.logoimg img{
    /* border: 2px solid red; */
    height: 25%;
    width: 25%;
    margin-left: 1.5em;
    margin-top: 0.4em;
    z-index: 100;
 

}
.signIn {
    margin-right: 2.5em;
    background-color: rgba(67, 127, 252, 1);
    border: none;
    border-radius: 0.4em;
    font-weight: 550;
    color: white;
    padding: 12px 30px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .signIn:hover,
  .signIn:focus {
    background-color: skyblue;
    transition: 0.2s ease-in;
  }