/* .img{
    margin-top: 2em;
    border: 2px solid red;
} */
body {
	background-color: #003049;
}
.mainbody {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .header{
  border: 2px solid red;
} */
